html {
	background-color: lightyellow;
}

#big-container {
  display: grid;
  grid-template-columns: [tools] 250px [table] 650px;
  grid-template-rows: [header] 100px [main] 650px;
  grid-template-areas: 
    "header header"
    "tools table";

  width: 900px;
  height: 750px;
  margin: auto;
}

#container {
  border: 4px solid red;
  margin: auto;
  display: grid;
  background-color: red;

  grid-area: table;
}

.square {
  text-align: center;
  vertical-align: middle;
  background-color: white;
  border-color: #c4c4c4;
  border-style: solid;
  border-width: 1px;
}

#header {
	grid-area: header;
	font-size: larger;
	font-family: sans;
  text-align: center;
}

button {
	height: 70px;
	width: 90px;
	margin: 8px;
	border: black outset 3px;
	padding: 0px;
	font-size: large;
}

#toolbox {
	grid-area: tools;
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* height: 500px; */
	place-self: center end;
	place-items: center;
}